body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
h1,
h2,
h3, 
h4,
h5, 
h6 {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    width: 100%;
    height: 50vh;
    display: flex;
    position: relative;
    align-items: center;
}
.header--image {
    object-fit: cover;
    width: inherit;
    height: inherit;
    opacity: 1;
}
.header__container {
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    position: absolute;
    padding-left: .5em;
    font-size: 30px;
}
.main {
    background-color: #02040f;
    height: 80vh;
    padding: 0 10px;
}
.main__title {
    margin: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    color: #fff;
    font-size: 35px;
}
.main__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80%;
    justify-content: space-around;
}
.main__container--categories {
    border: 2px solid #fff;
    width: 20%;
    border-radius: 30px;
    padding: 2em;
    cursor: pointer;
    opacity: 1;
    position: relative;
    overflow: hidden;
    transition: 300ms;
    transform-origin: top center;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__container--categories:hover .img--items{
    opacity: 0.5;
}
.url--items {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 150% 70%;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    position: inherit;
    z-index: 2;
    text-shadow: 2px 2px 2px #000;
}
.img--items {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    flex-direction: column;
    border-radius: 30px;
    padding: .5em;
    margin: 0.8em;
    background-color: #edf6f9;
    box-shadow: 1px 4px 6px 2px #02040f;
    cursor: pointer;
}
.cards > p{
    margin: 0.2em;
    text-align: center;
}
.content__container {
    background-color: #edf6f9;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
}
.header__content {
    color: #fff;
    height: 20vh;
    display: flex;
    background-color: #02040f;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header__content h1 {
    font-size: 35px;
    margin: 0;
}
.header__content p {
    text-align: center;
    margin: .3em 0 0 0;
}
.content_container--dragons {
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.cards__dragons {
    width: 50%;
}
.cards__dragons--img {
    width: 50%;
    box-shadow: 1px 3px 6px 1px;
    overflow: hidden;
    border-radius: 16px;
    margin: .4em 0;
}
.cards__dragons--img img {
    width: 100%;
}
.cards__launches {
    width: 30%;
}

@media screen and (max-width: 320px) {
    .header__title {
        margin: 20px 0 0 0;
    }
    .header__subtitle {
        margin: 20px 0 0 0;
    }
    .header--image {
        max-height: 25vh;
    }
    .header__container {
        align-items: flex-start;
    }
    .main__title {
        font-size: 27px;
    }
}

@media screen and (max-width: 480px) {
    .header__container {
        font-size: 16px;
    }
    .main__container {
        justify-content: space-around;
    }
    .url--items {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 25%;
        
    }
    .header--image {
        height: 100%;
    }
    .main__container {
        flex-direction: column;
        align-items: center;
    }
    .main__container--categories {
        width: 75%;
    }
    .main {
        height: 95vh;
    }
}